<div class="jumbotron text-center font-weight-bold" id="jumbotron"  style="background: url({{site.url}}{{site.baseurl}}/img/bg.jpg) no-repeat scroll;background-size: cover;">
	<p class="text-white text-center" >Long <a href="#">Togehter2100</a></p>
	<p class="display-4 text-white">Long的博客</p>
	<p class="text-white text-center" >This is my blog</p>
	<!-- <p class="text-white text-center" >Github: <a href="#">Project Long</a></p> -->
	<p class="lead">
		<a class="btn btn-secondary" href="#" role="button">预告</a>   
	</p>
</div>